/* line 13, ../sass/darkstrap.scss */
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #faa732;
}

/* line 16, ../sass/darkstrap.scss */
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #5bb75b;
}

/* line 19, ../sass/darkstrap.scss */
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #fb292d;
}

/* line 23, ../sass/darkstrap.scss */
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #faa732;
  color: #faa732;
}

/* line 28, ../sass/darkstrap.scss */
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #5bb75b;
  color: #5bb75b;
}

/* line 33, ../sass/darkstrap.scss */
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #fb292d;
  color: #fb292d;
}

/* line 38, ../sass/darkstrap.scss */
body {
  background: #2f2f2f;
  color: #c6c6c6;
}

/* line 42, ../sass/darkstrap.scss */
.breadcrumb {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
}
/* line 45, ../sass/darkstrap.scss */
.breadcrumb li {
  text-shadow: 0 1px 0 #000;
}

/* line 49, ../sass/darkstrap.scss */
.page-header {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/* line 52, ../sass/darkstrap.scss */
h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* line 55, ../sass/darkstrap.scss */
h6 {
  color: #999;
}

/* line 57, ../sass/darkstrap.scss */
blockquote {
  border-left-color: #111;
}
/* line 59, ../sass/darkstrap.scss */
blockquote.pull-right {
  border-right-color: #111;
}

/* line 64, ../sass/darkstrap.scss */
hr {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  border-top: none;
}

/* line 69, ../sass/darkstrap.scss */
.well {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 74, ../sass/darkstrap.scss */
code {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

/* line 78, ../sass/darkstrap.scss */
pre {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #c6c6c6;
}

/* line 85, ../sass/darkstrap.scss */
form label {
  color: #c6c6c6;
}

/* line 90, ../sass/darkstrap.scss */
legend {
  color: white;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/* line 94, ../sass/darkstrap.scss */
.form-actions {
  border-top-color: #222;
  background-color: #444;
}

/* line 99, ../sass/darkstrap.scss */
.help-inline {
  color: #999;
}

/* line 104, ../sass/darkstrap.scss */
.table thead {
  color: white;
}
/* line 107, ../sass/darkstrap.scss */
.table td {
  border-top-color: #666;
}

/* line 112, ../sass/darkstrap.scss */
.table-striped tbody tr:nth-child(2n+1) td,
.table-striped tbody tr:nth-child(2n+1) th {
  background-color: #444;
}

/* line 116, ../sass/darkstrap.scss */
.table-bordered {
  border: 1px solid #666;
}

/* line 122, ../sass/darkstrap.scss */
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #666;
}

/* line 126, ../sass/darkstrap.scss */
footer {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
  border-top: 1px solid #121212;
  margin-top: 50px;
  padding: 10px;
}
